body {
	background-color: #0a192f;
}

.first-text{
	color: #64ffda;
	font-family: 'Roboto Mono', monospace;
	font-size: 16px;
	line-height: 20.8px;
	word-spacing: 0px;
	margin: 0px 0px 20px 3px;
	padding:0px;
	font-weight: 400;
	text-indent: 0px;
	line-height: 0%;
	margin-top: 10%;
	margin-left:15%;
}

.first-title{
	color: #CCD6F6;
	font-family: Helvetica;
	font-weight: 600;
	letter-spacing: -10px;
	font-size: 70px;
	letter-spacing: -1px;
}

.second-title {
	color: #8892b0;
	font-family: Helvetica;
	font-weight: 600;
	letter-spacing: -10px;
	font-size: 70px;
	margin-top: 1%;
	letter-spacing: -1px;
}

.second-text {
	color: #8892b0;
	font-family: Helvetica;
	font-size: 20px;
	font-weight: 400;
	line-height: 26px;
	margin: 0px 0px 15px;
	margin-bottom: 10px;
}

.button {
  background-color: #0a192f;
  border: 1px solid #64ffda;
  color: #64ffda;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.main-text {
	color: #8892b0;
	font-family: Helvetica;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	margin: 0px 0px 15px;
}

.main-title-number {
	color: #64ffda;
	size: 28px;
	font-family: 'Roboto Mono', monospace;
	line-height: 41.6px;
	vertical-align: baseline;
	word-spacing: 0px;
	margin: 10px 0px 40px;
	padding: 0px;
	font-weight: 600;
}

.main-title {
	color: #ccd6f6;
	font-family: Helvetica;
	font-size: 32px;
	line-height: 41.6px;
	vertical-align: baseline;
	word-spacing: 0px;
	margin: 10px 0px 40px;
	padding: 0px;
	font-weight: 600;
}

#floatRight{
	float:right;
	clear: right;
	margin-right: 20%;
}

#distance-titles{
	margin-left: 14.5%;
	margin-top:0%;
	margin-bottom: 1%;
}

div {
  	margin-bottom: 5%;
 	margin-right: 15%;
 	margin-left: 5%;
 	padding-right: 15%;
 	padding-bottom: 15%;
 	padding-left: 10%;
 }


ul {
  list-style: none; 
}

ul li::before {
  content: "\2022";
  color: #64ffda; 
 }

@media only screen and (max-width: 950px) {
   .container {
      margin-left: 10%;
      margin-right: 20%;
   }
}

@media only screen and (max-width: 30px) {
   .container {
      margin-left: 5%;
      margin-right: 10%;
   }
}
